* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

#main {
  transition: margin-left 0.3s ease-in-out;
}

#main > div {
  display: flex;
  align-items: center;
}

#drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: green;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

#toggle-button {
  left: 0;
  cursor: pointer;
  position: relative;
}
